<!doctype html>
<html lang="en">
<head>
   <% include partials/head.ejs%>
  <title>Profile</title>
</head>
<body>
 <% include partials/menu_bar.ejs%>
  <div class="main">  
  <div class="projects">
  <div class="users">
    <h2><%=user.name%></h2>
    <table>
      <tr>
        <th>Email</th>
        <td><%=user.email%></td>
      </tr>
      <%if(profileOwnerName == user.name){%>
        <form   action="profile/update">
        <tr>
          <td> <button type="submit">Update</button> </td>
        </tr>
        <form>
      <%}%>
    </table>
  </div>
  </div>
  </div>
</body>
</html>